<h1>Add New Product</h1>
<form action="/admin/products" method="POST" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Name" required><br>
  <input type="number" name="price" placeholder="Price" required><br>
  <textarea name="description" placeholder="Description"></textarea><br>
  <input type="file" name="image" accept="image/*"><br>
  <button type="submit">Add Product</button>
</form>
